body{
    background-color: rgb(196, 250, 232);
    font-family: ;
    letter-spacing: 0.1em;
    font-size: 18px;
    font-family: 'Dosis', sans-serif;
    
}
h1{
    text-shadow: 2px 2px #888888;
    font-family: 'Roboto', sans-serif;
}
.alldivs{
    display: none;
    width: 70%;
    margin: auto;
    text-align: center;
    background-color: whitesmoke;
    padding: 30px 10px;
    margin-top: 20px;
    box-shadow: 3px 3px 5px #888888;
    border-radius: 10px;
    /* height: 80vh; */
}
.wlcm-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 25%;
}
.display-btn{
    width: 200px;
    padding-top: 30px;
    padding-bottom: 30px;
    border-radius: 30px;
}
.mypic{
    width: 200px;
    height: auto;
    border-radius: 150px 150px;
}
button a{
    text-decoration: none;
}
button{
    background-color: teal;
    border: 1px solid teal;
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
}
button:hover{
    background-color:black;
    border: 1px solid black;
}
.skills{
    height: 60vh;
    padding-top: 100px;
}
.social-media ul li{
    display: inline-block;
    padding: 10px 10px;
}
.switch{
    
}